
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  
 margin:auto; 
}




.active{
  
          background: #ff0;
      }

      .item{
        width: 400px;
    
        font-size: 30pt;

      }



